version: '3.8'

services:
  api:
    build: .
    container_name: oichat-api
    ports:
      - "3001:3001"
    environment:
      - PROJECT_BASEURL=${PROJECT_BASEURL}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - OPENROUTER_API_BASE=${OPENROUTER_API_BASE}
      - MODEL_NAME=${MODEL_NAME}
      - EVOLUTION_API_KEY=${EVOLUTION_API_KEY}
      - EVOLUTION_API_URL=${EVOLUTION_API_URL}
      - PORT=3001
    env_file:
      - .env
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    command: [ "run", "--allow-net", "--allow-read", "--allow-env", "--watch", "src/main.ts" ]
