version: '3.8'

services:
  api:
    build: .
    container_name: oichat-api
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - PORT=3001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    restart: always
    volumes:
      - .:/app
      - /app/node_modules
    command: [ "run", "--allow-net", "--allow-read", "--allow-env", "--watch", "src/main.ts" ]

  redis:
    image: redis:alpine
    container_name: oichat-redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data

volumes:
  redis_data:
